@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
    ViewData["DisableHeader"] = true;
}
<cache vary-by-route="pageNumber">

    @foreach (var post in Model.Posts)
    {
        <partial name="PostSummary" model="post" />
    }
    @if (Model.HasNext)
    {
        <div class="bottomNavButtons">
            <a href="/page/@(Model.Page - 1)/" class="btn">&#8592; Previous Page</a>
            <div class="spacer"></div>
            <a href="/page/@(Model.Page + 1)/" class="btn">Next Page &#8594;</a>
        </div>
    }
</cache>

@section Head {
    <partial name="StockMeta" />
}