@model IEnumerable<IPost>

@{
    ViewData["Title"] = "Home Page";
}
<cache vary-by-route="pageNumber">
    @foreach (var post in Model)
    {
        <a href="/@post.Url">@post.Url </a> <br />
    }
</cache>

