@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
    ViewData["RenderNav"] = true;
}
<cache vary-by-route="pageNumber">

    @foreach (var post in Model.Posts)
    {
        <partial name="PostSummary" model="post" />
    }
    @if (Model.HasNext)
    {
        <div class="nextPageHome">
            <a href="/page/@(Model.Page + 1)/" class="btn">Next Page -></a>
        </div>
    }
</cache>

@section Head {
    <partial name="StockMeta" />
}