@model IPost
@{
    ViewData["Title"] = "Post";
}
<cache vary-by-route="postUrl">
    <article class="main-content-wrap" itemprop="blogPost">
        <h1 itemprop="headline" class="headline">@Model.Title</h1>
        <time class="headlineSubtext" itemprop="datePublished" content="@Model.PublishDate.ToString()">@Model.PublishDate.ToString("D")</time>
        @Model.Content
    </article>
</cache>