@media (prefers-color-scheme: dark) {
  :root {
    --headline: #f0f0f0;
    --body-text-color: #ffffff;
    --block-quote-left-border: #d1dced;
    --code-block-background-color: #4a4a4a;
    --primary-background: #323131;
    --link-color: #3faff9;
    /* --link-visited: #d8dbde; */
    --border-color: #bdcad2;
    --horizontal-rule: #626468;
  }
}