@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.8rem;
  }
  .rootbox {
    display: grid;
    grid-template-areas: "a" "c";
    grid-template-rows: 3.5rem minmax(calc(100vh - 3.5rem), auto);
    grid-template-columns: auto;
  }
  .navBar {
    position: fixed;
    width: 100vw;
  }
  .main-content-wrap {
    max-width: calc(100vw - 4rem);
  }
  #navBar {
    display: none;
  }

  #menuLabel {
    background: var(--nb-bkgd);
    position: fixed;
    bottom: 6rem;
    right: 4rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px #000;
    z-index: 1000;
    line-height: 0;
  }
  #menuBtn {
    cursor: pointer;
    fill: var(--pmry-bknd);
  }
  #menu-toggle:checked + #menuLabel {
    background: var(--pmry-bknd);
  }
  #menu-toggle:checked + #menuLabel > #menuBtn {
    fill: var(--bdy-txt-clr);
  }
  #menu-toggle:checked ~ #navBar {
    display: flex;
  }
}
