@media screen and (min-width: 769px) {
  h1 {
    font-size: 3.3rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2.2rem;
  }

  h5 {
    font-size: 2rem;
  }
  .rootbox {
    display: grid;
    grid-template-areas:
      "b a"
      "b c";
    grid-template-columns: minmax(auto, 270px) 1fr;
    grid-template-rows: 3.5rem minmax(calc(100vh - 3.5rem), auto);
    gap: 0;
  }
  .navBar {
    height: auto;
  }
  .navContent {
    position: sticky;
    top: 20px;
  }
  .navBar.hide {
    display: flex;
  }
  #closeNav {
    display: none;
  }
  #menuBtn {
    display: none;
  }
  .main-content-wrap {
    max-width: 750px;
  }
}
