html {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #4A4A4A;
    line-height: 1.45;
    letter-spacing: -.01em;
}

h1 {
    font-size: 3.3rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2.2rem;
}

h5 {
    font-size: 2rem;
}

body {
    text-rendering: optimizeLegibility;
    letter-spacing: -.01em;
    line-height: 1.9rem;
    color: #5d686f;
    font-size: 1.125rem;
    margin: 0;
}

.main-content-wrap {
    display: block;
    max-width: 750px;
    margin: 0 auto;
    padding-right: 1.2em;
    padding-left: 1.2em;
    padding-bottom: 1.2em;
}

    .main-content-wrap img {
        display: block;
        width: auto;
        max-width: 100%;
        margin-bottom: 1.2rem
    }

#main {
    width: calc(100% - 250px);
    float: right;
}

.headline {
    margin-bottom: 0;
}

.headlineSubtext {
    font-size: .8em;
}

blockquote {
    border-left: 2px solid #d1dced;
    padding: .4em 1.2em;
}

code, pre {
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
    border-radius: 3px;
    background: #f5f5f5;
    padding: 0 .4em;
    overflow-x: auto;
}

a {
    color: #6fa1c2;
    font-weight: 400;
}

    a:visited {
        color: #9c9c9c;
    }

.btn {
    width: auto;
    height: auto;
    background: #fff !important;
    border-radius: 3px;
    margin: 0;
    cursor: pointer;
    color: #5d686f !important;
    border: 1px solid #9eabb3;
    padding: .3em .2em;
    text-decoration: none !important;
    font-size: 1.1rem;
    text-transform: uppercase;
}

    .btn:hover {
        color: #4A4A4A !important;
        border: 1px solid #738691 !important;
    }

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    h1 {
        font-size: 2.6rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 2.2rem;
    }

    h4 {
        font-size: 2.0rem;
    }

    h5 {
        font-size: 1.8rem;
    }

    .navBar {
        display: none !important;
    }

    #main {
        width: initial;
        float: initial;
    }
}

.link-unstyled {
    cursor: pointer !important;
    color: inherit !important;
    text-decoration: none !important;
    font-weight: inherit !important;
}

.btmRule {
    border-bottom: 1px solid #eef2f8;
}

.navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    top: 0;
    background: #4A4A4A;
    color: white;
    width: 250px;
    padding-top: 20px;
}

    .navBar > * {
        max-width: 100%;
        color: white;
    }

.sidebarBtns {
    padding: 0;
    list-style: none;
}

    .sidebarBtns > li {
        margin-bottom: 1.5rem;
        padding-left: 23px;
    }

.round {
    border-radius: 50%;
}
