@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.8rem;
  }
  .rootbox {
    display: grid;
    grid-template-areas: "a" "c";
    grid-template-rows: 3.5rem minmax(calc(100vh - 3.5rem), auto);
    grid-template-columns: auto;
  }
  .navBar {
    position: fixed;
    width: 100vw;
  }
  .main-content-wrap {
    max-width: calc(100vw - 4rem);
  }
}
