:root {
  --headline: #4a4a4a;
  --body-text-color: #5d686f;
  --block-quote-left-border: #d1dced;
  --code-block-background-color: #f5f5f5;
  --primary-background: #FFFFFF;
  --link-color: #00558d;
  --link-visited: var(--link-color);
  /* --link-visited: #6c6c6c; */
  --border-color: #738691;
  --horizontal-rule: #dfe2e7;
  --nav-bar-background: var(--headline);
  --nav-bar-text-color: var(--primary-background);
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headline);
  line-height: 1.45;
  letter-spacing: -0.01em;
  line-height: 1.25em;
}

article {
  margin-top: 0.5em;
}

body {
  text-rendering: optimizeLegibility;
  letter-spacing: -0.01em;
  line-height: 1.9rem;
  background-color: var(--primary-background);
  color: var(--body-text-color);
  font-size: 1.125rem;
  margin: 0;
}

.main-content-wrap {
  display: block;
  padding-right: 1.2em;
  padding-left: 1.2em;
  padding-bottom: 1.2em;
  margin: 0 auto;
  grid-area: c;
  word-break: break-word;
}
.headerBump {
  padding-top: 3.5rem;
}

.main-content-wrap img {
  display: block;
  width: auto;
  max-width: 100%;
  margin-bottom: 1.2rem;
}

.headline {
  margin-bottom: 0;
  margin-top: 0;
}

.headlineSubtext {
  font-size: 0.8em;
}

blockquote {
  border-left: 2px solid var(--block-quote-left-border);
  padding: 0.4em 1.2em;
}

code,
pre {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  border-radius: 3px;
  background: var(--code-block-background-color);
  padding: 0 0.4em;
  overflow-x: scroll;
  letter-spacing: .02em;
}

/* fix a bug where a code block (not inline) would have extra padding) */
pre > code {
  padding: 0;
 }

a {
  color: var(--link-color);
  font-weight: 400;
}

a:visited {
  color: var(--link-visited);
}

.btmRule {
  border-bottom: 1px solid var(--horizontal-rule);
  padding-bottom: 3rem;
}

.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--nav-bar-background);
  color: var(--nav-bar-text-color);
  padding-top: 20px;
  height: 100vh;
  z-index: 40;
  grid-area: b;
}

.navBar.hide {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--horizontal-rule);
  color: var(--headline);
  background-color: var(--primary-background);
  z-index: 20;
  padding: 0;
  margin: 0;
  grid-area: a;
}
.headerCallout {
  margin: auto;
}

#menuBtn {
  cursor: pointer;
  margin-left: 1rem;
  fill: var(--headline);
}

.sidebarBtns {
  padding: 0;
  list-style: none;
}

.sidebarBtns > li {
  margin-bottom: 1.5rem;
  text-align: center;
}

.round {
  border-radius: 50%;
}

.bottomNavButtons {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  width: 100%;
}
.spacer {
  flex-grow: 1;
}

.btn {
  width: auto;
  height: auto;
  background: var(--primary-background);
  border-radius: 3px;
  margin: 0;
  cursor: pointer;
  color: var(--body-text-color);
  border: 1px solid var(--body-text-color);
  padding: 0.3em 0.2em;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.btn:visited {
  background: var(--primary-background);
  color: var(--border-color);
  border: 1px solid var(--border-color);
}

.btn.block {
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 4px;
  font-size: 0.9rem;
}

a.link-unstyled,
div.link-unstyled,
span.link-unstyled,
svg.link-unstyled {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

.navHero {
  height: 227px;
  display: block;
}


a.skip-main {
  left:-999px;
  position:absolute;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
  position: relative;
  left: initial;
  width: 100%;
  height: auto;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2em;
  display: inline-block;
}