@media screen and (min-width: 769px) {
    .rootbox {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0;
      grid-template:
      "b b a"
      "b b c"
      "b b c";
      grid-template-columns: .25fr .75fr;
    }
    .navBar {
      height: auto;
      position: relative;
    }
    .navContent {
      position: sticky;
      top: 20px;
    }
    .navBar.hide {
      display: flex;
    }
    #closeNav {
      display: none;
    }
    #menuBtn {
      display: none;
    }
  }
