@model Dictionary<string, List<IPost>>
@{
    ViewData["Title"] = "all-tags";
}
<h2>All Tags</h2>
@foreach (var tag in Model.Keys)
{
    <a href="/tag/@tag/" class="btn block">@tag</a>
}

@section Head {
    <partial name="StockMeta" />
}