@using System.Collections.Immutable;
@model IDictionary<string, ImmutableList<IPost>>
@{
    ViewData["Title"] = "all-tags";
}
<h2>All Tags</h2>
<cache>
@foreach (var tag in Model.Keys)
{
    <a href="/tag/@tag/" class="btn block">@tag</a>
}
</cache>
@section Head {
    <partial name="StockMeta" />
    <link rel="canonical" href="https://blog.terrible.dev/all-tags/" />
}
