<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link asp-append-version="true" rel="icon" href="~/favicon.ico"> 
    <title>@ViewData["Title"] - TerribleDev.Blog.Web</title>
    <environment names="Development">
        <link asp-append-version="true" rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Production">
        <link asp-append-version="true" rel="stylesheet" href="~/css/site.min.css" />
    </environment>
</head>
<body>
        <main role="main">
            @RenderBody()
        </main>
    @RenderSection("Scripts", required: false)
    <environment names="Development">
        <script asp-append-version="true" src="~/js/swi.js" async></script>
    </environment>
    <environment names="Production">
        <script asp-append-version="true" src="~/js/site.min.js" async></script>
    </environment>
</body>
</html>
