
<nav class="navBar hide" id="navBar">
  <div class="navContent">
    <picture class="navHero">
          <source srcset="/content/tommyAvatar4.jpg.webp" loading="lazy" type="image/webp" alt="An image of TerribleDev" class="round" />
          <img src="/content/tommyAvatar4.jpg" loading="lazy" alt="An image of TerribleDev" class="round" />
    </picture>
      <span>Tommy "Terrible Dev" Parnell</span>
      <ul class="sidebarBtns">
          <li><a href="/" class="link-unstyled">Home</a></li>
          <li><a href="/about" class="link-unstyled">About</a></li>
          <li><a href="/all-tags/" class="link-unstyled">Tags</a></li>
          <li><a href="/rss.xml" class="link-unstyled">RSS Feed</a></li>
          <li><a href="https://github.com/terribledev" rel="noopener" target="_blank" class="link-unstyled">Github</a></li>
          <li><a href="https://twitter.com/terribledev" rel="noopener" target="_blank" class="link-unstyled">Twitter</a></li>
          <li><a href="mailto:tommy@terribledev.io" class="link-unstyled">Email</a></li>
          <li><span onclick="toggleNav()" class="link-unstyled" id="closeNav">Close Navbar</span></li>
      </ul>
    </div>
</nav>
