<input type="checkbox" id="menu-toggle"/>
<label for="menu-toggle" id="menuLabel"  role="button">
        <svg aria-label="Open Menu" id="menuBtn" width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 88c0-13.25 10.75-24 24-24h400c13.3 0 24 10.75 24 24 0 13.3-10.7 24-24 24H24c-13.25 0-24-10.7-24-24zm0 160c0-13.3 10.75-24 24-24h400c13.3 0 24 10.7 24 24s-10.7 24-24 24H24c-13.25 0-24-10.7-24-24zm424 184H24c-13.25 0-24-10.7-24-24s10.75-24 24-24h400c13.3 0 24 10.7 24 24s-10.7 24-24 24z"/></svg>
</label>
<nav class="navBar" id="navBar">
  <div class="navContent">
    <picture class="navHero">
          <source srcset="/content/tommyAvatar4.jpg.webp" loading="lazy" type="image/webp" alt="An image of TerribleDev" class="round" />
          <img src="/content/tommyAvatar4.jpg" loading="lazy" alt="An image of TerribleDev" class="round" />
    </picture>
      <span>Tommy "Terrible Dev" Parnell</span>
      <ul class="sidebarBtns">
          <li><a href="/" class="link-unstyled">Home</a></li>
          <li><a href="/about" class="link-unstyled">About</a></li>
          <li><a href="/all-tags/" class="link-unstyled">Tags</a></li>
          <li><a href="/rss.xml" class="link-unstyled">RSS Feed</a></li>
          <li><a href="https://github.com/terribledev" rel="noopener" target="_blank" class="link-unstyled">Github</a></li>
          <li><a href="https://twitter.com/terribledev" rel="noopener" target="_blank" class="link-unstyled">Twitter</a></li>
          <li><a href="mailto:tommy@terribledev.io" class="link-unstyled">Email</a></li>
      </ul>
    </div>
</nav>
