<input type="checkbox" id="menu-toggle"/>
<label for="menu-toggle" id="menuLabel"  role="button">
        <svg aria-label="Open Menu" id="menuBtn" width="16" hight="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 88C0 74.75 10.75 64 24 64H424C437.3 64 448 74.75 448 88C448 101.3 437.3 112 424 112H24C10.75 112 0 101.3 0 88zM0 248C0 234.7 10.75 224 24 224H424C437.3 224 448 234.7 448 248C448 261.3 437.3 272 424 272H24C10.75 272 0 261.3 0 248zM424 432H24C10.75 432 0 421.3 0 408C0 394.7 10.75 384 24 384H424C437.3 384 448 394.7 448 408C448 421.3 437.3 432 424 432z"/></svg>
        @* <svg aria-label="Open Menu" id="menuBtn" xmlns="http://www.w3.org/2000/svg"><path d="M4 10h24c1.104 0 2-.896 2-2s-.896-2-2-2H4c-1.104 0-2 .896-2 2s.896 2 2 2zm24 4H4c-1.104 0-2 .896-2 2s.896 2 2 2h24c1.104 0 2-.896 2-2s-.896-2-2-2zm0 8H4c-1.104 0-2 .896-2 2s.896 2 2 2h24c1.104 0 2-.896 2-2s-.896-2-2-2z" /></svg> *@
</label>
<nav class="navBar" id="navBar">
  <div class="navContent">
    <picture class="navHero">
          <source srcset="/content/tommyAvatar4.jpg.webp" loading="lazy" type="image/webp" alt="An image of TerribleDev" class="round" />
          <img src="/content/tommyAvatar4.jpg" loading="lazy" alt="An image of TerribleDev" class="round" />
    </picture>
      <span>Tommy "Terrible Dev" Parnell</span>
      <ul class="sidebarBtns">
          <li><a href="/" class="link-unstyled">Home</a></li>
          <li><a href="/about" class="link-unstyled">About</a></li>
          <li><a href="/all-tags/" class="link-unstyled">Tags</a></li>
          <li><a href="/rss.xml" class="link-unstyled">RSS Feed</a></li>
          <li><a href="https://github.com/terribledev" rel="noopener" target="_blank" class="link-unstyled">Github</a></li>
          <li><a href="https://twitter.com/terribledev" rel="noopener" target="_blank" class="link-unstyled">Twitter</a></li>
          <li><a href="mailto:tommy@terribledev.io" class="link-unstyled">Email</a></li>
      </ul>
    </div>
</nav>
